*{
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* navbar css */
.navbar{
    margin-top: 3%;
}
.navbar a{
    padding: 1%;
    margin-left: 2%;
    padding-top: 3%;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 17px;
}
.btn{
    background-color: #51c1ed;
    padding: 1%;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    font-size: 17px;
}
.btn:hover{
    background-color: #0b0b7b;
}
.wallet{
    background-color: rgb(219, 216, 216);
    padding: 1%;
    text-align: center;
}
/* section 2 */
.sec2{
    display: flex;
    flex-direction: row;
}
.sec2one{
    margin-left: 6%;
}
.sec2one img{
    width: 15%;
}
.sec2one h1{
    margin-top: 5%;
    font-size: 54px;
}
.sec2one p{
    margin-top: 5%;
    font-size: 25px;
}
.btn2{
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 2%;
    font-weight: bold;
    margin-top: 6%;
    font-size: 18px;
}
.btn:hover{
    border: 1px solid black;
    color: black;
    background-color: white;
}
/* section 3 */
.sec3{
    background-color: #35b9ed;
}
.sec3 h1{
    font-weight: bold;
    color: white;
    margin-left: 3%;
    padding-top: 3%;
    font-size: 37px;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3.6%;
    padding: 4%;
    padding-bottom: 7%;
}
.icons div p{
    color: white;
    width: 6%;
    font-size: 19px;
    font-weight: bold;
    /* border: 2px solid #51c1ed; */
}
/* section 4 */
.sec4{
    background-color: #6f69e0;
}
.sec4 h1{
    font-weight: bold;
    color: white;
    margin-left: 3%;
    padding-top: 3%;
    font-size: 37px;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3.6%;
    padding: 4%;
    padding-bottom: 7%;
}
.icons div p{
    color: white;
    width: 6%;
    font-size: 19px;
    font-weight: bold;
    /* border: 2px solid #51c1ed;  */
}
/* section 5 */
.sec5{
    background-color: #f5f5f5;
    padding: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sec5one{
    width: 45%;
    background-color: white;
    padding: 2%;
    border-radius: 20px;
}
.sec5one h1{
    font-size: 40px;
    margin-top: 4%;
    margin-bottom: 6%;
}
.sec5one small{
    font-weight: bold;
    font-size: 18px;
}
.sec5one .car{
    width: 90%;
    margin-top: 4%;
}
/* section 6 */
.sec6{
    background-color: #f5f5f5;
    justify-content: space-between;
    margin-left: 7% ;
}
.sec6 h1{
    font-weight: bold;
    color: black;
    margin-left: 6%;
    padding-top: 3%;
    font-size: 37px;
    
}
.sec6one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3.6%;
    padding: 4%;
    padding-bottom: 7%;
    margin-top: 2%;
}
.sec6 div p{
    color: black;
    width: 3%;
    font-size: 19px;
    font-weight: bold;
    /* border: 2px solid #51c1ed;  */
    margin-top: 5%;
    margin-bottom: 3%;
}
.btn6{
    border: none;
    font-weight: bold;
    font-size: 15px;
    margin-top: 3%;
}
/* section 7  */
.sec7{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    
}
.sec7one{
    margin-left: 5%;
}
.sec7one img{
     width: 40%;
    height: 18%;
    aspect-ratio: 19/6;
}
.sec7one h1{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 40px;
}
.sec7one p{
    padding-bottom:5%;
    font-size:20px ;
    color: #0e0d0d;
    font-weight:lighter;
}
.sec7two{
    padding-left: 8%;
    margin-right: -90px;
    
}
.btn7{
    width:150px;
    height: 50px;
    background-color: #0b0b7b;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 50px;
    font-size: medium;

}
